@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Rock+Salt&display=swap');

:root {
    --primary-color: #253031;
    --secondary-color: #315659;
    --accent1-color: #2978A0;
    --accent2-color: #BCAB79;

    --heading-font: 'Rock Salt', cursive;
    --paragraph-font: 'Crimson Text', serif;

    --nav-background-color: #C6E0FF;
    --nav-link-color: #2978A0;
    --nav-hover-link-color: #315659;
    --nav-hover-background-color: #BCAB79;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: var(--paragraph-font);
    padding: 20px;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
  
  
.logo {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid black;
    width: 150px;
    height: auto;
}
  
  
/*HERO SECCTION*/
.hero {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
}
  
.background-image {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
}
  
.hero h1 {
    position: absolute;
    top: 2%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    font-family: var(--heading-font);
    font-size: 36px;
    color: var(--primary-color);
    text-align: center;
}
  
  
/*FOOTER SECCTION*/
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
    border: 1px solid black;
}
  
footer p {
    flex: 1;
    margin: 0;
}
  
footer a {
    text-decoration: none !important;
    color: var(--nav-link-color);
}
  

.sociallinks {
    display: flex;
    gap: 10px;
}
  
.sociallinks a {
    text-decoration: none;
}
  
.sociallinks img {
    width: 30px;
    height: auto;
}

